<% @photos.each do |photo| %>
	Category <%= photo.category.title%>
	Title<%= photo.title%>
	Author: <%= photo.user.profile.nickname %>
	<% photo.images.each do |image| %>
	<%= link_to image_tag(photo.images[0].url, size: "100x100", class: "img-thumbnail"), photo_path(photo.id), remote: true %>
	<% end %>
<% end %>

<div id="show-photo"></div>
